<div class='booking-form-container'>
  <%= simple_form_for [item, booking] do |f| %>
    <div class="field">
      <%= f.input :start_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
    </div>
    <div class="field">
      <%= f.input :end_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
    </div>

    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
