<div class='card-wrapper'>
  <div class='index-booking-card d-flex' >
   <div
  class="booking-image"
  style="background-image: url('<%= cl_image_path photo, width: 350, height: 350, crop: :fit %>')">
</div>
    <div class='index-booking-text'>
      <%= link_to title, booking_path(booking), class: "booking-link" %>
      <br>
      <span class="booking-date">— Booked on <%= timestamp %></span>
    </div>
    <div class='delete-link'>
      <% if policy(booking).destroy? %>
        <%= link_to booking_path(booking), data: { turbo_method: :delete, confirm: "Are you sure?" }, class: "btn btn-link p-0 m-0 align-baseline" do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
