<div class="container bookings-page">
  <h1>All Bookings</h1>

  <% if @bookings.any? %>
    <ul class="booking-list">
      <% @bookings.each do |booking| %>
        <li>
          <%= link_to booking.item.title, booking_path(booking), class: "booking-link" %>
          <span class="booking-date">— Booked on <%= booking.created_at.strftime("%B %d, %Y") %></span>
          <div class='delete-link'>
            <%= link_to booking_path(booking), data: { turbo_method: :delete, confirm: "Are you sure?" }, class: "btn btn-link p-0 m-0 align-baseline" do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="no-bookings">You haven't made any bookings yet.</p>
  <% end %>
</div>
