<div class="container bookings-page">
  <h1>My Wardrobe</h1>

  <% if @bookings.any? %>
    <div class="booking-list">
      <% @bookings.each do |booking| %>
        <%= render 'index_booking_card',
          title: booking.item.title,
          booking: booking,
          photo: booking.item.photo.key,
          timestamp: booking.created_at.strftime("%B %d, %Y")
        %>
      <% end %>
    </div>
  <% else %>
    <p class="no-bookings">You haven't made any bookings yet.</p>
  <% end %>
</div>
