<div class='container'>
  <h1>Booking Details</h1>
  <ul>
    <li><%= @booking.item.title %></li>
    <li><%= @booking.item.price %></li>
    <li><%= @booking.start_date %></li>
    <li><%= @booking.end_date %></li>
  </ul>
</div>
