<div class='container'>
  <h1>Booking Details</h1>
  <ul>
    <li>Item: <%= @booking.item.title %></li>
    <li>Price: £<%= @booking.item.price %></li>
    <li>Booking start date: <%= @booking.start_date %></li>
    <li>Booking end date: <%= @booking.end_date %></li>
  </ul>
</div>
