<div class='card-wrapper'>
  <div class= 'index-item-card' style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path photo, height: 300, crop: :fill %>')">
    <div class= 'index-item-text'>
      <h2><%= title %></h2>
      <p><%= truncate(description, length: 80) %></p>
    </div>
  </div>
</div>
