<div class="item-details-container item-details">
  <h1 class="cursive-title">Item Details</h1>

  <%= render 'show_item_card',
    title: @item.title,
    description: @item.description,
    price: @item.price,
    photo: @item.photo.key,
    category: @item.category,
    size: @item.size,
    brand: @item.brand,
    booking: @booking,
    item: @item
  %>

  <%= link_to 'Back to Items', items_path, class: 'button-link' %>
</div>
