.booking-details {
  h1 {
    font-family: "Great Vibes", cursive;
    color: #4b3621;
    margin-bottom: 1.5rem;
    font-size: 3rem;
    text-align: center;
  }

  .button-link {
    text-align: center;
  }
}
