.booking-details {
  h1 {
    font-family: "Playfair Display", serif;
    font-size: 2.2rem;
    color: #4b3621;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .button-link {
    text-align: center;
  }
}
