.item-info{
    display: flex;
    width: fit-content;
  }

.new-booking-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 2rem;

  .booking-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

h3{
  color: #57432f;
}

.delete-link {
    padding: 0px 0px 10px 50px;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    i {
      color: $gray;

      &:hover {
        color: $red;
      }
    }
  }
