
.booking-card {
  background: #fff8f0;
  border-radius: 12px;
  padding: 1.5rem 2rem;
  box-shadow: 0 4px 8px rgba(75, 54, 33, 0.1);
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .booking-image {
    flex: 0 0 35%;
    max-width: 35%;
    margin-right: 1.5rem;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .booking-text {
    flex: 1;

    ul {
      list-style: none;
      padding-left: 0;

      li {
        font-size: 1.1rem;
        margin-bottom: 0.8rem;
        color: #3d2b1f;

        strong {
          color: #7a5a2a;
        }
      }
    }
  }

  .delete-link {
    padding: 20px 0px 10px 50px;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    i {
      color: $gray;

      &:hover {
        color: $red;
      }
    }

  }
}
